version: "3.9"

services:
  frontend:
    build:
      context: .
    container_name: rmv-frontend
    ports:
      - "5173:5173"
    env_file:
      - ./.env
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - .:/app
      - frontend_node_modules:/app/node_modules

volumes:
  frontend_node_modules:
